@import url("https://fonts.googleapis.com/css2?family=Inter&family=Jost:wght@400;500&display=swap");
/*** 

====================================================================
	Global Settings
====================================================================

 ***/
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #eaeaff;
  background: #131b32;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #2662fa;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
  color: #2662fa;
}

.copyright a {
  color: #2662fa;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 0px;
  background: none;
  font-weight: 500;
  font-family: "Jost", sans-serif;
}

strong, b, label, a {
  font-weight: 500;
  font-family: "Jost", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 1.6em;
}

/*** 

====================================================================
	Sidebar
====================================================================

****/
#sidebar {
  width: 300px;
  height: 100vh;
  border-right: 1px solid #2662fa;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
}

#sidebar .mCSB_inside > .mCSB_container {
  margin-right: 12px !important;
}

#sidebar .mCS_no_scrollbar .mCSB_container {
  margin-right: 0px !important;
}

#sidebar .menu-box {
  overflow-y: auto;
  padding: 0;
  background: #1f3b4d;
  transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -webkit-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
}

#sidebar .mCS_no_scrollbar .mCSB_container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

#sidebar .mCS_no_scrollbar .mCSB_container .copyright {
  margin-top: auto;
}

#sidebar .menu-box .logo {
  position: relative;
  text-align: center;
  margin-bottom: 35px;
  padding: 30px 20px 0;
}

#sidebar .menu-box .logo img {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

#sidebar .menu-box .sticky-menu {
  position: relative;
}

#sidebar .menu-box .sticky-menu > ul {
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#sidebar .menu-box .sticky-menu > ul > li {
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 20px;
  color: #ffffff;
  text-align: right;
}

#sidebar .menu-box .sticky-menu > ul > li > a {
  position: relative;
  display: block;
  padding: 10px 30px 10px 0px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

#sidebar .menu-box .sticky-menu > ul > li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #2662fa;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  opacity: 0;
}

#sidebar .menu-box .sticky-menu > ul > li.current a:after,
#sidebar .menu-box .sticky-menu > ul > li:hover a:after {
  opacity: 1;
}

#sidebar .menu-box .sticky-menu > ul > li > a:hover,
#sidebar .menu-box .sticky-menu > ul > li.current > a,
#sidebar .menu-box .sticky-menu > ul > li.current-menu-item > a {
  color: #2662fa;
}

#sidebar .copyright {
  font-size: 13px;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*** 

====================================================================
	Content Section
====================================================================

****/
#content-section {
  position: relative;
  padding: 0px 0px 30px 293px;
  width: 100px;
  z-index: 5;
  float: left;
  margin: 0px auto;
}

#content-section .section {
  position: relative;
  min-height: 200px;
  margin-bottom: 50px;
}

#content-section .sec-title {
  position: relative;
  padding: 10px 20px 10px 50px;
  background: #ffffffeb;
  color: #111;
}

#content-section .sec-title h2 {
  position: relative;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 500;
}

#content-section .sec-title h3 {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
}

#content-section .sec-title i {
  position: absolute;
  left: 20px;
  top: 50%;
  width: 30px;
  line-height: 30px;
  font-size: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#content-section .separator {
  position: relative;
  margin: 20px 0px;
  height: 1px;
}

#content-section .separator:before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#d0d0d0), color-stop(#f1f1f1), to(#ffffff));
  background: linear-gradient(left, #d0d0d0, #f1f1f1, #ffffff);
  background: -o-linear-gradient(left, #d0d0d0, #f1f1f1, #ffffff);
}

#content-section .sec-content {
  position: relative;
  padding: 10px 35px;
}

.introduction .sec-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #2662fa;
}

.introduction .sec-content h3 {
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.html-structure .sec-content h3,
.css-structure .sec-content h3,
.javascript .sec-content h3,
.sources-credits .sec-content h3,
.contact-form .sec-content h3,
.support .sec-content h3,
.map-settings .sec-content h3,
.count-timer .sec-content h3 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.4em;
}

.html-structure code {
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  color: #353535;
  padding: 30px 20px;
  background: #f1f1f1;
  height: auto;
  display: block;
}

.javascript ul li {
  list-style: none;
}

.sources-credits p {
  margin-bottom: 5px;
}

i.fas.fa-check {
  color: #2662fa;
  margin-right: 5px;
}

#content-section img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

#content-section .image-box {
  position: relative;
  padding: 0px;
  margin: 30px 0px;
}

.menu-toggle {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 20px;
}

.menu-toggle span {
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 100%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background-color: #2662fa;
  left: 0;
}

.menu-toggle span:first-child {
  top: 0;
}

.menu-toggle span:nth-child(2) {
  top: 52%;
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
}

.menu-toggle span:last-child {
  bottom: 0;
}

.menu-toggle.active span:first-child {
  -webkit-transform: rotate(45deg) translate(3px, 9px);
  transform: rotate(45deg) translate(3px, 9px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:last-child {
  -webkit-transform: rotate(-45deg) translate(3px, -9px);
  transform: rotate(-45deg) translate(3px, -9px);
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #content-section {
    padding: 0;
  }
  #sidebar {
    z-index: 99;
  }
  body {
    padding-top: 60px;
  }
  header {
    height: 60px;
    padding: 10px 0;
    background: #050931;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-wrapper .logo {
    width: 180px;
  }
  .header-wrapper .logo img {
    width: 100%;
    height: 40px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (max-width: 500px) {
  #content-section .sec-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.my-40 {
  margin: 40px 0;
}

.folder-name {
  background: #2662fa80;
  display: inline-block;
  padding: 0 7px;
  border-radius: 5px;
  margin: 2px;
}

.cl-1 {
  color: #2662fa !important;
}

.cl-2 {
  color: #2662fa !important;
}

.code-command {
  padding: 10px 50px;
  color: #9cdcfe;
  background-color: #1e1e1e;
  display: inline-block;
}

.d-block {
  display: block;
}

.mb-20 {
  margin-bottom: 20px;
}

pre ul li {
  padding: 0;
  width: 100%;
  font-size: 14px;
}

pre ul li span {
  padding-left: 20px;
}

pre ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

pre code {
  font-size: 14px;
}

.sec-content a {
  text-decoration: underline;
}

div#mCSB_1_container {
  top: 200px;
}

.titlepart {
  padding-top: 50px;
  color: #fff;
}

.description1 {
  margin-right: 44px;
  padding-top: 8px;
  font-size: 15px;
}

.mCustomScrollBox > div {
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-wrapper #sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.page-wrapper #content-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .page-wrapper {
    overflow: hidden;
  }
  .page-wrapper #sidebar {
    position: fixed;
    top: 0;
    right: 0;
  }
  .page-wrapper #sidebar:not(.active) {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.css-structure img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */